
@media screen and (max-width: 1200px) {
	.img-avatar{
		width: 40%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	header h1,p{
		max-width: 40%;
	}

	ul.store-list{
		flex-direction: column;
		align-items: center;
	}
}


@media screen and (max-width: 600px) {
	.item{
		width: 80%;
		display: block;
		float: left;
	}

	.box{
		padding: 15% 10%;
	}
}


@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
	.signature {
		background-image: url("img/signature@2x.png");
		background-size: 100%;
	}
	.img-avatar {
		background-image: url("img/avatar-photo.jpg");
		background-size: 100%;
	}
	.img-showcase {
		background-image: url("img/avatar-photo-2@2x.jpg");
		background-size: 100%;
	}
}