* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

html, body{
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1{
	font-family: 'Lato', sans-serif;
	color: #222;
	font-size: 32px;
    line-height: 48px;
    margin-bottom: 29px;
}

p{
	font-family: 'Lato', sans-serif;
	color: #555;
	font-size: 18px;
	line-height: 30px;
}

a:link.menu-item, a:visited.menu-item{
	text-decoration: none;
}


section#header{
	width: 100%;
	height: 80px;
	background-color: #ddd;	

	position: relative;
	top: 0px;
	left: 0px;

	// -webkit-box-shadow: 0px 5px 3px 0px rgba(0,0,0,0.08);
	// -moz-box-shadow: 0px 5px 3px 0px rgba(0,0,0,0.08);
	// box-shadow: 0px 5px 3px 0px rgba(0,0,0,0.08);

	border-bottom: 1px solid #333;
	z-index: 10;
}


section#main{
	width: 100%;
	height: 100vh;
	background-color: #eee;
	position: absolute;
	top: 0px;
}

.content{
	margin: 0 auto;
	display: block;
	float: none;
	width: 1000px;
	height: 100%;
}

section#header .content{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.menu-item{
	width: 33%;
	height: 100%;

	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.menu-item p{
	font-size: 48px;
	font-family: 'Fugaz One', cursive;

	color: #444;
	transition: color .2s;

	transition: font-size .2s;
}

.menu-item p:hover, .menu-item p:hover{
	font-size: 54px;
	color: #222;
	transition: color .2s;

	transition: font-size .2s;
}

.content-container{
	width: 100%;
	height: 100%;
	background-color: #f7f7f7;

	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;

	-webkit-box-shadow: 0px 50px 179px 0px rgba(247,247,247,1);
	-moz-box-shadow: 0px 50px 179px 0px rgba(247,247,247,1);
	box-shadow: 0px 50px 179px 0px rgba(247,247,247,1);
}

.content-item{
	width: 40%;
	height: auto;
}

.photo-self{
	height: 400px;
	background-image: url('img/modelka.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

@media screen and (max-width: 599px) {
	* {
		max-width: 100vw;
	}

	.menu-item p{
		font-size: 24px;
	}

	.menu-item p:hover{
		font-size: 28px;
	}
}