.illustration
    position relative
    display inline-block

    img
        display block


    +e('base')
        position relative
        z-index 1


    +e('heart')
        position absolute
        z-index 3
        left 0
        top 0
        opacity 0
        transform scale(0)


    +e('cloud')
        position absolute
        z-index 2
        left 0
        top 0

    &.animate [class*=heart-]
        animation heartIn 200ms $timing forwards

    for num in (1..12)
        .heart-{num}
            animation-delay num * 65ms !important


@keyframes heartIn
    0%
        transform translate3d(-10px, 10px, 0) scale(0.3)
        opacity 0
    100%
        transform translate3d(0,0,0) scale(1)
        opacity 1

