.valentines

    p
        position relative
        z-index 2


    +e('illustration')
        display block
        margin 0 auto
        position relative
        z-index 1

        @media (min-width $screen-md)
            margin -40px auto 0


    +e('row')
        flexbox()
        justify-content space-between
        align-items flex-start
        max-width 840px
        margin 30px auto 0
        flex-wrap wrap

        @media (min-width $screen-sm)
            flex-wrap nowrap
            margin-top 50px
        @media (min-width $screen-lg)
            margin-top 100px


    +e('col')
        flex(1 50%)
        padding 0 10px

        &:nth-of-type(3)
            margin-top 40px

        @media (min-width $screen-sm)
            max-width 240px
            flex(1 33%)
            &:nth-of-type(3 )
                margin-top 0


    +e('icon')
        display block
        margin 0 auto 20px

        @media (min-width $screen-sm)
            margin-bottom 40px

