.button
    text-align center
    box-shadow none
    border 0
    height 48px
    background $green
    padding 14px 30px 12px
    border-radius $border-radius $border-radius $border-radius 24px
    color $white
    font-size 16px
    font-weight 600
    transition all $animation
    user-select none
    cursor pointer
    display inline-block
    vertical-align middle
    overflow hidden
    line-height normal

    i
        color currentColor
        font-size 16px
        display inline-block
        vertical-align baseline
        position relative
        top 4px
        margin-left 10px
        overflow hidden
        width 16px
        height 16px
        &:before
            position absolute
            left 0

    &:hover
        border-radius $border-radius 24px $border-radius $border-radius
        background lighten($green, 10%)
        //i:before
        //    animation homepageButtonPulse 300ms linear



    +m('outline')
        background transparent
        border 2px solid $green
        padding-top 12px
        padding-bottom 11px
        color $green
        &:hover
            background alpha($green, 10%)

    +m('arrow')
        padding-top 12px
        padding-bottom 13px

        &.button--outline
            padding-top 10px
            padding-bottom 11px

    +m('block')
        display block
        width 100%


    +m('facebook')
        padding 0
        display inline-table
        background-color #5c6dd2
        color $white

        span:not(.circle)
            border-radius $border-radius 0 0 $border-radius
            display table-cell
            vertical-align middle
            padding-top 15px
            padding-bottom 14px
            &:nth-last-of-type(1)
                padding-right 10px
                @media (min-width $screen-tn)
                    padding-right 60px
            &:nth-last-of-type(2)
                font-size 0
                background #6475d9
                width 50px
                @media (min-width $screen-utn)
                    width 60px
        img
            position relative
            top 1px

        &:hover
            background-color lighten(#5c6dd2, 10%)

    +m('purple')
        background $brand-primary-button
        &:hover
            background lighten($brand-primary-button, 10%)

    +m('rect')
        border-radius $border-radius

    +m('white')
        color $white
        padding-top 13px
        border 2px solid alpha($white, 20%)
        background transparent
        &:hover
            background alpha($white, 10%)

    +m('big')
        height 70px
        font-size 18px
        border-bottom-left-radius 35px
        padding 24px 40px
        &:hover
            border-bottom-left-radius $border-radius
            border-top-right-radius 35px


    +m('small')
        padding-left 20px
        padding-right 20px

    +m('right')
        border-bottom-right-radius 35px
        border-bottom-left-radius $border-radius

        &:hover
            border-bottom-right-radius $border-radius
            border-top-right-radius $border-radius
            border-top-left-radius 35px


@keyframes homepageButtonPulse
    0%
        transform translate3d(0, 0,0 )
    50%
        transform translate3d(16px, 0,0 )
        opacity 1
    51%
        opacity 0
        transform translate3d(-16px, 0,0 )
    100%
        opacity 1
        transform translate3d(0, 0,0 )
