*, *:before, *:after
    box-sizing border-box
    outline 0
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale


html
    -webkit-tap-highlight-color rgba(0,0,0,0)
    -webkit-text-size-adjust 100%


html, body
    position relative
    min-height 100vh
    background $white
    min-width 320px
    color $black
    text-align left
    margin 0
    padding 0


body

    &, button, select, input, textarea
        font-family 'calibre', Helvetica, Arial, 'sans-serif'

    &.menu-active
        overflow hidden
        height 100vh


ul, ol, li
    margin 0
    padding 0
    list-style-type none


a
    color currentColor
    text-decoration none

img
    max-width 100%


.container
    padding 0 20px
    margin 0 auto

    @media (min-width $screen-md)
        max-width 1260px
        padding 0 30px
