.hamburger
    padding 24px 20px
    display inline-block
    cursor pointer
    font inherit
    color inherit
    text-transform none
    font-size 0
    border 0
    margin 0
    overflow visible

    .hamburger-box
        width 16px
        height 12px
        display inline-block
        position relative

    .hamburger-inner
        display block
        top auto
        bottom 0
        margin-top -1px
        transition-duration 0.15s
        transition-delay 0.15s
        transition-timing-function cubic-bezier(0.55, 0.055, 0.675, 0.19)

        &, &:before, &:after
            width 16px
            height 2px
            background-color $white
            position absolute
            transition(transform 0.15s ease)
        &:before, &:after
            content ""
            display block
        &::before
            top -5px
            $multipletrans = op 0.12s 0.3s cubic-bezier(1/3, 2/3, 2/3, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19)
            transition($multipletrans)
        &::after
            top -10px
            $multipletrans = top 0.3s 0.3s cubic-bezier(1/3, 2/3, 2/3, 1), opacity 0.1s linear
            transition($multipletrans)

.hamburger.is-active, .main-content.menu-active .hamburger
    .hamburger-inner
        transform(translate3d(0, -6px, 0) rotate(-45deg))
        transition-delay 0.32s
        transition-timing-function cubic-bezier(0.215, 0.61, 0.355, 1)
        &::after
            top 0
            opacity 0
            $multipletrans = top 0.3s cubic-bezier(1/3, 0, 2/3, 1/3), opacity 0.1s 0.27s linear
            transition($multipletrans)
        &::before
            top 0
            transform(rotate(-90deg))
            $multipletrans = top 0.12s 0.18s cubic-bezier(1/3, 0, 2/3, 1/3), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1)
            transition($multipletrans)
