vendor(prop, args)
    -webkit-{prop} args
    -moz-{prop} args
    -ms-{prop} args
    -o-{prop} args
    {prop} args

border-radius()
    vendor('border-radius', arguments)

box-shadow()
    vendor('box-shadow', arguments)

text-shadow()
    vendor('text-shadow', arguments)

transition()
    vendor('transition', arguments)

opacity()
    vendor('opacity', arguments)

transition-property()
    vendor('transition-property', arguments)

transform()
    vendor('transform', arguments)

transform-origin()
    vendor('transform-origin', arguments)

user-select()
    vendor('user-select', arguments)

//perspective()
//    vendor('perspective', arguments)

flex()
    vendor('flex', arguments)

backface-visibility()
    vendor('backface-visibility', arguments)

transform-style()
    vendor('transform-style', arguments)

background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval, deprecatedWebkitStartPoint = false, deprecatedWebkitEndPoint = false)
    //background-color startColor
    if deprecatedWebkitStartPoint && deprecatedWebkitEndPoint
        background-image -webkit-gradient(linear, deprecatedWebkitStartPoint, deprecatedWebkitEndPoint, color-stop(startInterval, startColor), color-stop(endInterval, endColor))
    background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
    background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
    background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
    background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
    background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)

tooltip-background(color)
    .tooltipster-sidetip .tooltipster-box
        background color
        box-shadow(none)
    .tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border
        border-bottom-color color
    .tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border
        border-left-color color
    .tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border
        border-right-color color
    .tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border
        border-top-color color

category-icon(name, color)
    .{name}
        i
            color: color
        &:hover .category-icon, .category-icon.color
            background-color: color
            border-color: color
            i
                color: #fff

flexbox()
    display -webkit-box
    display -moz-box
    display -ms-flexbox
    display -webkit-flex
    display flex

flex(values)
    -webkit-box-flex values
    -moz-box-flex values
    -webkit-flex values
    -ms-flex values
    flex values

order(value)
  -webkit-box-ordinal-group value
  -moz-box-ordinal-group value
  -ms-flex-order value
  -webkit-order value
  order value


e(name)
    &__{name}
        {block}

m(name)
    &--{name}
        {block}
