.navigation
    position fixed
    top 0
    right 0
    bottom 0
    z-index 100
    width 340px
    background $brand-primary-button
    color lighten($brand-primary-text, 70%)
    -webkit-overflow-scrolling touch
    padding 52px 50px 60px
    transition all 300ms $timing
    transform translate3d(340px, 0, 0)

    &.active
        transform translate3d(0, 0, 0)


    .hamburger
        display block
        position absolute
        top 16px
        right 17px

        @media (min-width $screen-xs)
            top 26px
            right 35px


    hr
        border 0
        border-bottom 1px solid alpha($white, 30%)


    a
        color currentColor
        transition(color $animation)
        font-size 18px
        line-height 1.2
        display block
        padding 6px 0

        &:hover,&.active
            color $white
        &.active
            font-weight 600


    +e('heading')
        color $white
        font-size 24px
        font-weight 600
        margin-bottom 11px


    hr
        margin 27px 0 26px
