$white = #fff
$black = #141117

$gray-light = #e1e2e7
$gray-lighter = #c2c7d8
$gray = #78727e
$gray-background = #f2f2f2
$gray-background-light = #f7f8fc
$gray-border = #eceff7

$brand-primary = #4e0f89
$brand-primary-light = #8e23c0
$brand-primary-text = #debfef
$brand-primary-button = #9352df

$red = #ff6a8a
$green = #5ac753
$blue = #5a6094
$orange = #ffc864
$yellow = #ffebb4

$red-background = #ffe9ee
$red-text = #d4627b
$red-border = #f6ced7
$orange-darker = #fcb131

$placeholder = #a8b1c0

green-gradient =
    background-image -moz-linear-gradient( 0deg, #00a85a 0%, #77bf43 100%)
    background-image -webkit-linear-gradient( 0deg, #00a85a 0%, #77bf43 100%)
    background-image -ms-linear-gradient( 0deg, #00a85a 0%, #77bf43 100%)

$navigation-background = #9659d0
$navigation-href = #e8c3ff
$hr-color = #a56dda

// base text size
$font-size = 15px
// elements default border radius (buttons, boxes, etc.)
$border-radius = 3px
// elements shadow
$shadow-small = 0px 1px 2px 0px rgba(39, 69, 117, 0.1)
$shadow = 0px 5px 15px 0px rgba(9, 69, 117, 0.1)
$shadow-2 = 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.2)
// every animation property
$animation = 0.3s ease // speed have to be also changed in js
$timing = cubic-bezier(0.81, 0.01, 0.26, 0.99)
$timing-2 = cubic-bezier(0.445, 0.05, 0.55, 0.95)
// main container wrapper size
$container-size = 1340px
$container-narrow-size = 900px
// section modal size
$section-modal-size = 540px
// navigation size
$navigation-size = 210px
// responsive values
/*
    <1220px - classicpc (classic PC)
    <980px  - large (notebooks, tablets)
    <800px  - medium (tablets, mobiles landscape)
    <660px  - small (mobiles)
    <500px  - smaller (QHD smartphones)
    <395px  - tiny (iphone 6, most of smartphones)
    <360px  - ultratiny (iphone 4>)
*/
$screen-utn = 360px
$screen-tn = 395px
$screen-xs = 500px // mobile
$screen-sm = 660px // tablet
$screen-md = 768px // small pc
$screen-lg = 980px
$screen-pc = 1220px
$screen-wd = 1440px
// @media (min-width: $screen-xs)
// @media (max-width: $screen-xs - 1px)
